{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" align="center">Ingreso de Derechos Vulnerados</h1>
                    </div>
                </div>
            </div>
<form method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.derecho.name}}">{{form.derecho.label}}</label>
                {{form.derecho}}
            </div>
        </div>

    </div>
    <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit" selected="selected">GUARDAR</button>
            </div>
        </div>
</form>
{% endblock %}
