{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('SID Admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"> <font color="white">SID</font> </h1>
{% endblock %}

{% block nav-global %}{% endblock %}
