{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/favicon.jpg" %}">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

	<title>{% block title %}Document {% endblock %}</title>
</head>
<body>
<div class="container">

	{% block navbar %}


	{% endblock %}


	{% block content %}
	<h4>	Bloque de contenido		</h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}

	{% block extrajs %}
	{% endblock %}


</body>
</html>
