{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Eliminar Denuncia</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <!-- /.row -->

            </div>
            <form method="post">
                    {% csrf_token %}
                <h4>Desea Eliminar Denuncia: {{ object.correlativo }} ?</h4>
                    <button type="submit" class="btn btn-danger">SÍ, ELIMINAR</button>
                    <a class="btn btn-default" href="{% url 'denuncia:denuncia_listar' %}">CANCELAR</a>
                </form>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
