{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Denuncias</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <form method="get" action="{% url 'denuncia:denuncia_listar' %}"  class="navbar-form pull-right">
                        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Buscar">
                        <input type="submit" class="btn" value="Buscar" >
                </form>
                <!-- /.row -->
                <table class="table table-bordered">
                <a class="btn btn-primary btn-sm" href="{% url "denuncia:denuncia_crear" %}">(+) Nuevo</a>
                    <thead>
                    <tr>
                        <td align="center" bgcolor="#eeeeee">Correlativo</td>
                        <td align="center" bgcolor="#eeeeee">Victima</td>
                        <td align="center" bgcolor="#eeeeee">Agresor</td>
                        <td align="center" bgcolor="#eeeeee">Derecho Vulnerado</td>
                        <td align="center" bgcolor="#eeeeee">Estado de Denuncia</td>
                        <td align="center" bgcolor="#eeeeee">Diligencia</td>
                        <td align="center" bgcolor="#eeeeee">Procedencia</td>
                        <td align="center" bgcolor="#eeeeee">Carpeta</td>
                        <td align="center" bgcolor="#eeeeee">ACCIÓN</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for denuncia in object_list %}
                    <tr>
                        <td align="center">{{ denuncia.correlativo}}</td>
                        <td align="center">{{ denuncia.victima }}</td>
                        <td align="center">{{ denuncia.Agresor }}</td>
                        <td align="center">{{ denuncia.derecho }}</td>
                        <td align="center">{{ denuncia.status }}</td>
                        <td align="center">{{ denuncia.diligencia }}</td>
                        <td align="center">{{ denuncia.procedencia}}</td>
                        <td align="center">{{ denuncia.carpeta }}</td>
                        <td align="center" bgcolor="#eeeeee">
                            {% if perms.denuncia.change_denuncia %}
                            <a class="btn btn-success btn-xs" href="{% url "denuncia:denuncia_editar" denuncia.id %}">Editar</a>
                            {% endif %}
                            {% if perms.denuncia.delete_denuncia %}
                            <a class="btn btn-warning btn-xs" href="{% url "denuncia:denuncia_eliminar" denuncia.id %}">Eliminar</a>
                            {% endif %}
                            {% if perms.denuncia.add_denuncia %}
                            <a class="btn btn-warning btn-xs" href="{% url "reportes:ficha" denuncia.id %}">FICHA</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h3>No Hay Registros de Denuncias...</h3>
                    {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
                        {% endif %}
                    </li>
                        <span class="actual">
                         Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                         </span>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
