{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" align="center">Formulario de Inscripción</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <!-- /.row -->

            </div>
<form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_nivel.name}}">{{form.alumno_nivel.label}}</label>
                {{form.alumno_nivel}}
                (+) Añadir un <a href="{% url 'nivel:padd'  %}">Nivel</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_grados.name}}">{{form.alumno_grados.label}}</label>
                {{form.alumno_grados}}
                (+) Añadir un <a href="{% url 'grado:padd'  %}">Grado</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_Seccion.name}}">{{form.alumno_Seccion.label}}</label>
                {{form.alumno_Seccion}}
                (+) Añadir una <a href="{% url 'seccion:padd'  %}">Sección</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_jornada.name}}">{{form.alumno_jornada.label}}</label>
                {{form.alumno_jornada}}
                (+) Añadir una <a href="{% url 'jornada:padd'  %}">Jornada</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_ciclo.name}}">{{form.alumno_ciclo.label}}</label>
                {{form.alumno_ciclo}}
                (+) Añadir un <a href="{% url 'ciclo:padd'  %}">Ciclo</a>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.alumno_nombre.name}}">{{form.alumno_nombre.label}}</label>
                {{form.alumno_nombre}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.mesincripcion.name}}">{{form.mesincripcion.label}}</label>
                {{form.mesincripcion}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.pago_inscripcion.name}}">{{form.pago_inscripcion.label}}</label>
                {{form.pago_inscripcion}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit">GUARDAR</button>
            </div>
        </div>
</form>
</div>
{% endblock %}
