{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">Inscripciones</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <!--<form method="GET" action="{% url 'inscripciones:inscripciones_listar' %}"  class="navbar-form pull-right">
                        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
                        <input type="submit" class="btn" value="Search" >
                </form> -->
                <!-- /.row -->
                <table class="table table-bordered">
                <a class="btn btn-primary btn-sm" href="{% url "inscripciones:inscripciones_crear" %}">(+) Nuevo</a>
                    <thead>
                    <tr>
                        <td align="center" bgcolor="#eeeeee">Alumno</td>
                        <td align="center" bgcolor="#eeeeee">Nivel</td>
                        <td align="center" bgcolor="#eeeeee">Grado</td>
                        <td align="center" bgcolor="#eeeeee">Sección</td>
                        <td align="center" bgcolor="#eeeeee">Jornada</td>
                        <td align="center" bgcolor="#eeeeee">Ciclo</td>
                        <td align="center" bgcolor="#eeeeee">Pago Inscripción</td>
                        <td align="center" bgcolor="#eeeeee">ACCIÓN</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for inscripciones in object_list %}
                    <tr>
                        <td align="center">{{ inscripciones.alumno_nombre }}</td>
                        <td align="center">{{ inscripciones.alumno_nivel }}</td>
                        <td align="center">{{ inscripciones.alumno_grados }}</td>
                        <td align="center">{{ inscripciones.alumno_Seccion }}</td>
                        <td align="center">{{ inscripciones.alumno_jornada }}</td>
                        <td align="center">{{ inscripciones.alumno_ciclo }}</td>
                        <td align="center">{{ inscripciones.pago_inscripcion }}</td>
                        <td align="center" bgcolor="#eeeeee">
                            <a class="btn btn-warning btn-xs" href="{% url "inscripciones:inscripciones_eliminar" inscripciones.id %}">Eliminar</a>
                            <a href="{% url 'inscripciones:inscripciones_contrato' %}"  class="btn btn-success btn-xs"> I. Contrato
                            </a>
                        </td>

                    </tr>
                    {% endfor %}

                    {% else %}
                    <h3>No Hay Registros de Inscripciones...</h3>
                    {% endif %}
                    </tbody>
                </table>
              <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
                        {% endif %}
                    </li>
                        <span class="actual">
                         Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                         </span>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
