{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">Diligencias</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                <form method="get" action="{% url 'diligencia:diligencia_listar' %}"  class="navbar-form pull-right">
                        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Search">
                        <input type="submit" class="btn" value="Search" >
                </form>
                <!-- /.row -->
                <table class="table table-bordered">
                <a class="btn btn-primary btn-sm" href="{% url "diligencia:diligencia_crear" %}">(+) Nuevo</a>
                    <thead>
                    <tr>
                        <td align="center" bgcolor="#eeeeee">Nombre</td>
                        <td align="center" bgcolor="#eeeeee">ACCIÓN</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for diligencia in object_list %}
                    <tr>
                        <td align="center">{{ diligencia.nombre }}</td>
                        <td align="center" bgcolor="#eeeeee">
                            <a class="btn btn-success btn-xs" href="{% url "diligencia:diligencia_editar" diligencia.id %}">Editar</a>
                            <a class="btn btn-warning btn-xs" href="{% url "diligencia:diligencia_eliminar" diligencia.id %}">Eliminar</a>
                        </td>

                    </tr>
                    {% endfor %}

                    {% else %}
                    <h3>No Hay Registros de Diligencias...</h3>
                    {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
