{% extends 'login/base.html' %}
{% load staticfiles %}
{% block title %}
SID
{% endblock %}
{% block navbar%}
{% endblock %}
{% block content %}
     <br>
        <h4><center>Bienvenido a SID (SISTEMA INTEGRAL DE DENUNCIAS 1.0)</center></h4>
        <center>
        <table>
            <tr>
                <td><center><img src="{% static 'img/lolto.jpg' %}" height="500" width="500" class='img-responsive'></center></td>
            </tr>
        </table>
        </center>

<form method="post">
	{% csrf_token %}
	 <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
        		<label for="username">Nombre de usuario:</label>
        		<input class="form-control" type="text" name="username">
    	   </div>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
        		<label for="username">Contraseña:</label>
        		<input class="form-control" type="password" name="password">
    	   </div>
        </div>
    </div>
    <div class="row">
        <center>
    	<div class="col-md-6 col-md-offset-3">
    		<div class="form-group">
        		<input class="btn btn-primary" type="submit" value="Ingresar">
    	   </div>
        </div></center>
    </div>
</form>


{% endblock %}
