{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block extrastatic %}
    {% endblock %}

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static "img/favicon.jpg" %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">

    <title>{% block title %}SID v.1.0 {% endblock %}</title>

</head>

<body>

    <!-- Page Content -->
    <div class="container">
    {% block navbar %}
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-inverse navbar-fixed-top">
                        <div <div class="container">
                            <div class="navbar-header">
                            </div>
                                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Denuncias <span class="caret"></span></a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li role="presentation" class="dropdown-header">Ingreso</li>
                                                <li><a href="{% url "denuncia:denuncia_crear" %}"> Crear Denuncia</a></li>

                                        </ul>
                                    </li>
                                </ul>


                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Registros <span class="caret"></span></a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li role="presentation" class="dropdown-header">Ingreso/Consulta</li>
                                                {% if perms.tipo_diligencia.add_tipo_diligencia %}
                                                <li><a href="{% url "diligencia:diligencia_crear" %}"> Registrar Diligencia </a></li>
                                                {% endif %}
                                                {% if perms.victima.add_victima %}
                                                <li><a href="{% url "victima:victima_crear" %}"> </span> Registrar Victima </a></li>
                                                {% endif %}
                                                {% if perms.victima.add_victima %}
                                                <li><a href="{% url "agresor:agresor_crear" %}"> Registrar Agresor </a></li>
                                                {% endif %}
                                                {% if perms.procedencia_denuncia.add_victima %}
                                                <li><a href="{% url "procedencia:procedencia_crear" %}"> Registrar Procedencia de Denuncias </a></li>
                                                {% endif %}
                                                {% if perms.derechos.add_derechos %}
                                                <li><a href="{% url "derechos:derecho_crear" %}"> Registrar Derechos Vulnerados </a></li>
                                                {% endif %}
                                                {% if perms.tipo_diligencia.add_tipo_diligencia %}
                                                {% endif %}
                                        </ul>
                                    </li>
                                </ul>

                                        <ul class="nav navbar-nav">
                                    <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Listados<span class="caret"></span></a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li role="presentation" class="dropdown-header">Ingreso/Consulta</li>
                                                                        {% if perms.tipo_diligencia.add_tipo_diligencia %}
                                                <li><a href="{% url "diligencia:diligencia_listar" %}"> Listar Diligencia </a></li>
                                                {% endif %}
                                                {% if perms.victima.add_victima %}
                                                <li><a href="{% url "victima:victima_listar" %}"> </span> Listar Victima </a></li>
                                                {% endif %}
                                                {% if perms.victima.add_victima %}
                                                <li><a href="{% url "agresor:agresor_listar" %}"> Listar Agresor </a></li>
                                                {% endif %}
                                                {% if perms.procedencia_denuncia.add_victima %}
                                                <li><a href="{% url "procedencia:procedencia_listar" %}"> LIstar Procedencia de Denuncias </a></li>
                                                {% endif %}
                                                {% if perms.derechos.add_derechos %}
                                                <li><a href="{% url "derechos:derecho_listar" %}"> Listar Derechos Vulnerados </a></li>
                                                {% endif %}
                                                {% if perms.tipo_diligencia.add_tipo_diligencia %}
                                                {% endif %}

                                         </ul>
                                    </li>
                                </ul>
                                                    <ul class="nav navbar-nav">
                                    <li class="dropdown">

                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Reportes <span class="caret"></span></a>
                                         <ul class="dropdown-menu" role="menu">
                                             <li role="presentation" class="dropdown-header">Ingreso/Consulta</li>
                                             {% if user.is_superuser %}
                                            <li><a href={% url "reportes:reportes_listar" %}> Tipos de Reporte </a></li>
                                             {% endif %}



                                       </ul>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                    </li>
                                   <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Opciones <span class="caret"></span></a>
                                       <ul class="dropdown-menu" role="menu">
                                            {% if user.is_superuser %}
                                            <li role="presentation" class="dropdown-header">Privilegiadas</li>
                                            <li><a href="/admin"> Modo Administrador</a></li>
                                             {% endif %}
                                            <li role="presentation" class="dropdown-header">Logeo</li>
                                            <li><a href="{% url 'logout' %}"> Salir</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>


        {% endblock %}


        {% block content %}
        <br>
        <center>
        <table>
            <tr>
                <td><center><img src="{% static 'img/lolto.jpg' %}" height="600" width="600" class='img-responsive' ></center></td>
            </tr>
        </table>
        </center>

        {% endblock %}


        {% block footer %}
        {% endblock %}
    </div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/custom.js' %}"></script>

    {% block extrajs %}
    {% endblock %}

</body>

</html>
