{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" align="center">Registro de Agresores</h1>
                    </div>
                </div>
            </div>
<form method="post" action="" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.nombres.name}}">{{form.nombres.label}}</label>
                {{form.nombres}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.apellidos.apellidos}}">{{form.apellidos.label}}</label>
                {{form.apellidos}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.edad.name}}">{{form.edad.label}}</label>
                {{form.edad}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.direccion.name}}">{{form.direccion.label}}</label>
                {{form.direccion}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.fechanacimiento.name}}">{{form.fechanacimiento.label}}</label>
                {{form.fechanacimiento}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.cui.name}}">{{form.cui.label}}</label>
                {{form.cui}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.gender.name}}">{{form.gender.label}}</label>
                {{form.gender}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.telefono.name}}">{{form.telefono.label}}</label>
                {{form.telefono}}
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{form.fotografia.name}}">{{form.fotografia.label}}</label>
                {{form.fotografia}}
            </div>
        </div>

    </div>
    <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <button class="btn btn-primary" type="submit" selected="selected">GUARDAR</button>
            </div>
        </div>
</form>
{% endblock %}
