{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<!-- Page Content -->

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Victimas</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <form method="get" action="{% url 'victima:victima_listar' %}"  class="navbar-form pull-right">
                        <input type="text" id="searchBox" class="input-medium search-query" name="q" placeholder="Buscar">
                        <input type="submit" class="btn" value="Buscar" >
                </form>
                <!-- /.row -->
                <table class="table table-bordered">
                <a class="btn btn-primary btn-sm" href="{% url "victima:victima_crear" %}">(+) Nuevo</a>
                    <thead>
                    <tr>
                        <td align="center" bgcolor="#eeeeee">Nombres</td>
                        <td align="center" bgcolor="#eeeeee">Apellidos</td>
                        <td align="center" bgcolor="#eeeeee">Dirección</td>
                        <td align="center" bgcolor="#eeeeee">Edad</td>
                        <td align="center" bgcolor="#eeeeee">Fecha Nacimiento</td>
                        <td align="center" bgcolor="#eeeeee">CUI/DPI</td>
                        <td align="center" bgcolor="#eeeeee">Genero</td>
                        <td align="center" bgcolor="#eeeeee">Teléfono</td>
                        <td align="center" bgcolor="#eeeeee">Fotografía</td>
                        <td align="center" bgcolor="#eeeeee">ACCIÓN</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if object_list %}
                    {% for victima in object_list %}
                    <tr>
                        <td align="center">{{ victima.nombres }}</td>
                        <td align="center">{{ victima.apellidos }}</td>
                        <td align="center">{{ victima.direccion }}</td>
                        <td align="center">{{ victima.edad }}</td>
                        <td align="center">{{ victima.fechanacimiento }}</td>
                        <td align="center">{{ victima.cui }}</td>
                        <td align="center">{{ victima.gender }}</td>
                        <td align="center">{{ victima.telefono }}</td>
                        {% if victima.fotografia %}
                        <td align="center"><img src=' {{ MEDIA_URL }}{{ victima.fotografia.url }}'  height="75" width="75" class='img-responsive'/> </td>
                        {% endif %}
                        <td align="center" bgcolor="#eeeeee">
                            {% if perms.alumno.change_alumno %}
                            <a class="btn btn-success btn-xs" href="{% url "victima:victima_editar" victima.id %}">Editar</a>
                            {% endif %}
                            {% if perms.alumno.delete_alumno %}
                            <a class="btn btn-warning btn-xs" href="{% url "victima:victima_eliminar" victima.id %}">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h3>No Hay Registros de Victimas...</h3>
                    {% endif %}
                    </tbody>
                </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
                        {% endif %}
                    </li>
                        <span class="actual">
                         Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                         </span>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
