{% extends "main_crud.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" align="center">Reporte por Rango de Fechas</h1>
                    </div>
                </div>
            </div>
<form method="post" action="rangopdf/" enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="container-fluid">
    <div class="row">
   <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{denuncia1}}"> Fecha Inicial:</label>
                {{form.fechadenuncia}}
            </div>
        </div>
                <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <label for="{{denuncia2}}"> Fecha Final: </label>
                {{form2.fechanacimiento}}
            </div>
        </div>

    <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                    <button class="btn btn-primary" type="submit">GENERAR LISTADO</button>
                <a class="btn btn-default" href="{% url "reportes:reportes_listar" %}">Retornar a Lista</a>
            </div>
        </div>
</form>
{% endblock %}
