{% extends "main_crud.html" %}
{% load static %}
{% block content %}
<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <h1 class="page-header">Tipos de Reporte</h1>
                    </div>
                    <!-- /.col-lg-12 -->

                </div>
                 <table class="table table-bordered">
                    <thead>
                        <tr>
                             <td align="center" bgcolor="#eeeeee" style="color:#ff0000">Reporte</td>
                             <td align="center" bgcolor="#eeeeee" style="color:#0c75d2">Acción</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="center">BUSQUEDA POR RANGO DE FECHAS</td>
                            <td align="center"> <a class="btn btn-success btn-xs" href="{% url "reportes:rango" %}">NUEVO</a></td>

                        </tr>
                    </tbody>
                 </table>
                <ul class="pager">
                    <li>
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">Anterior</a>
                        {% endif %}
                    </li>
                        <span class="actual">
                         Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                         </span>
                    <li>
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">Siguiente</a>
                        {% endif %}
                    </li>
                 </ul>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

{% endblock %}
